.featured-img{
    height: 400px;
    width: 820px;
}

.featured-item {
    background-image: url('../../../assets/images/gym-with-person-doing-sport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  